@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam.ttf');
}

body, html {
    direction: ltr;
    font-family: shabnam, sans-serif !important;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0
}

[hidden] {
    display: none
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0
}

a {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}

#search-bar {
    margin: 10px auto 0;
    width: 60%;
    min-width: 300px;
}

#search-bar input {
    padding: 10px;
    color: #2d3748;
    width: 100%;
    height: 100%;
    font-family: shabnam, sans-serif;
    font-size: 14px;
    border-bottom: 2px solid #5b5b78;
    transition: all 0.3s ease;
}

#search-bar input:focus,
#search-bar input:focus-visible {
    outline: none;
    border-bottom-color: darkcyan;
    border-radius: 3px;
    box-shadow: 0 5px 10px #bcbcbd;
}

#search-results {
    width: 60%;
    margin: 10px auto;
    min-height: 50px;
    max-height: 300px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#search-results.open {
    visibility: visible;
    opacity: 1;
}

.search-result-item {
    box-shadow: 0 0 5px #cbd5e0;
    border-bottom: 1px solid #2d3748;
    padding: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.search-result-item.sample {
    display: none !important;
}

.search-result-item .main-text {
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result-item .secondary-text {
    font-size: 13px;
    padding-right: 10px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result-item .score {
    height: 10px;
    border-top: 1px solid #ddd;
    font-size: 9px;
    color: darkred;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: darkseagreen !important;
}

.navbar-collapse {
    justify-content: center !important;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actions * {
    cursor: pointer;
}

ul.cloud {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 12px auto;
}

ul.cloud a {
    --size: 4;
    --color: #a33;
    color: var(--color);
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none;
}

ul.cloud a[data-weight="1"] {
    --size: 1;
}

ul.cloud a[data-weight="2"] {
    --size: 3;
}

ul.cloud a[data-weight="3"] {
    --size: 5;
}

ul.cloud a[data-weight="4"] {
    --size: 7;
}

ul.cloud a[data-weight="5"] {
    --size: 9;
}

ul.cloud a[data-weight="6"] {
    --size: 11;
}

ul.cloud a[data-weight="7"] {
    --size: 12;
}

ul.cloud a[data-weight="8"] {
    --size: 14;
}

ul.cloud a[data-weight="9"] {
    --size: 16;
}

ul[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a {
    --color: #181;
}

ul.cloud li:nth-child(3n+1) a {
    --color: #33a;
}

ul.cloud li:nth-child(4n+1) a {
    --color: #c38;
}

ul.cloud a:focus {
    outline: 1px dashed;
}

ul.cloud a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
    width: 100%;
}

@media (prefers-reduced-motion) {
    ul.cloud * {
        transition: none !important;
    }
}

.alert-trim {
    width: fit-content;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: -35px;
}
